<div class="container">
  <div class="d-flex justify-content-between">
    <h2>List of Pins</h2>
    <div class="d-flex flex-column ">
      <button (click)="openAddCustomerDialog()" type="button" class="btn btn-primary mb-3 mt-1">
        + Add Customer
      </button>
      <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addPin">
        + Add Pin
      </button>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>

