<div class="container">
  <div class="d-flex justify-content-between">
    <h2>List of Pins</h2>
    <div class="d-flex flex-column ">
      <button (click)="openAddCustomerDialog()" type="button" class="btn btn-primary mb-3 mt-1">
        + Add Customer
      </button>
      <button (click)="openAddPinDialog()" type="button" class="btn btn-primary mb-3">
        + Add Pin
      </button>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Image</th>
        <th scope="col">Collaboratory</th>
        <th scope="col">Privacy</th>
      </tr>
    </thead>
    <tbody *ngIf="pins && pins.length">
      <tr *ngFor="let pin of pins">
        <td>{{pin.title}}</td>
        <td>
          <img class="image" src="data:image/png;base64,{{pin.image}}" alt="" srcset="">
      </td>
        <td><ng-container *ngFor="let i of pin.collaboratory; last as isLast">{{i}} <br *ngIf="!isLast"/></ng-container></td>
        <td>{{pin.privacy}}</td>
      </tr>
    </tbody>
    <tbody *ngIf="!pins.length">
      <tr>
        <td colspan="4"><h3 class="text-center">No Data Available</h3></td>
      </tr>
    </tbody>
  </table>
</div>

